<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tzsafe.tazantagwritter">
    <!-- NFC 相关权限 -->
    <!-- 描述所需硬件特性 -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/icon_nfc_tag"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".setting.PasswordActivity"></activity>
        <activity android:name=".appinfo.GetAppInfoActivity"></activity>
        <activity android:name=".setting.AddConfigActivity" />
        <activity android:name=".setting.ConfigTypeActivity" />
        <activity
            android:name=".setting.ConfigActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.king.zxing.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CaptureTheme" />
    </application>

</manifest>